@import "../scss-variables.scss";

.Background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(174, 220, 232, 1), rgba(235, 249, 253, 1)); 
    height: 100vh;
    width: 100%;
    color: $dark-blue;
}

.HomeLogo {
    height: 15rem;
    align-self: center;
}

.Title {
  font-size: $font-large;
  margin: $margin-small;
}
.SubTitle {
  font-size: $font-medium;
  margin: $margin-small;
}

.BadgeWrapper {
  display: flex;
  justify-content: space-between;
  grid-gap: 1rem;
  margin: $margin-small;
  height: auto;
  max-width: 40rem;
  align-items: center;
  justify-items: center;
  margin-bottom: $margin-small;
  align-self: center;
}

.Badge {
  height: 5rem;
}