@import "../scss-variables.scss";

.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.HomeLogo {
    width: 70%;
    height: 30%;
    align-self: center;
}

.Carousel {
    width: 100%;
}


.CarouselItem {
  height: 30rem;
  width: 100%;
}

.CarouselItem img {
  object-fit: cover;
  height: 100%;
}

