.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.HomeImg {
    width: 80%;
    height: 30%;
    align-self: center;
    margin-bottom: 1rem;
}
