@import "../scss-variables.scss";

.GameNav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 1.2rem;
  a,
  a:hover,
  a:active {
    text-decoration: none;
    color: $white;
  }
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Background {
  background-image: url(../../images/low-carbon/Game1_screen3.svg);
  background-color: $dark-blue;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.BoxWrapper {
  text-align: center;
  margin-top: 1rem;
}

.Box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 3rem;
  border-radius: 5px;
}

.Card {
  width: 5rem;
  height: 70%;
  flex-shrink: 0;
  padding: 0.3rem;
  border-radius: 2px;
  color: $white;
  font-size: 1rem;
  text-align: center;

  &:active {
    border: 1px solid red;
  }
}

.Infobox {
  font-size: 1.4rem;
  padding: 0.5rem;
  margin-top: 2rem;
  opacity: 0.8;
  background-color: $grey;
  border-radius: 5px;
  width: 80%;
  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
    margin-top: 0.5rem;
  }

  & > div > img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
}

.Link {
  &,
  &:active,
  &:focus {
    font-size: 1rem;
    color: $dark-blue;
    text-decoration: none;
    align-self: flex-end;
  }
}

.Selected {
  background-color: $grey;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  margin: 3px;
  border-radius: 2px;
  text-align: center;

  & > .Card > img {
    transform: translate(-5%, -5%);
  }
}

.Instructions {
  text-align: center;
  opacity: 0.8;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: $white;
  border: 1px solid $grey;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.3rem;
    color: #727171;
  }
}

.Choices {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.Speedometer {
  position: relative;
}

.HalfCircle {
  width: 92%;
  height: 7rem; /* as the half of the width */
  border-bottom: 0;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border: 1rem solid $dark-blue;
}

.Bottom {
  background: $dark-blue;
  height: 2rem;
  width: 25rem;
  display: flex;
  justify-content: space-between;
}

.MarginLeft {
  margin-left: 1rem;
}

.MarginRight {
  margin-right: 1rem;
}

.Needle {
  position: absolute;
  width: 1rem;
  height: 8rem;
  background: $dark-blue;
  top: 50%;
  left: 50%;
  transform-origin: bottom;
  border-radius: 2rem;
}

.Btn {
  background: $dark-blue;
  position: relative;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid $white;
  color: $white;
  font-size: 1.6rem;
  min-width: 30%;
  border-radius: 2rem;
}

// Result page

.ResultTitle {
  font-size: 2rem;
}
.ResultText {
  font-size: 1.5rem;
}
.ResultIcon {
  font-size: 10rem;
}
