@import "../scss-variables.scss";

// General styles and background
.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Background {
  background-image: linear-gradient(
      rgba(169, 219, 232, 1),
      rgba(255, 255, 255, 0.6)
    ),
    url(../../images/low-carbon/Game_1_screen_1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

@media (min-height: 600px) {
  .Background {
    height: 100vh;
  }
}

.BoxWrapper {
  text-align: center;
  margin-top: 1rem;
}

// Game instructions

.Instructions {
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  background-color: $white;
  border: 1px solid $dark-blue;
  border-radius: 5px;
  box-shadow: $box-shadow;
  color: $dark-blue;
  padding: 0.3rem;
  max-width: 40rem;

  h3 {
    font-size: $font-medium;
  }

  p {
    font-size: $font-small;
    margin: 1rem;
  }
}

// Policy cards

.Box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  max-width: 40rem;
  margin-top: 2rem;
  height: 13rem;
  align-items: center;
  justify-items: center;
}

.Card {
  width: 5.5rem;
  height: 70%;
  flex-shrink: 0;
  padding: 0.3rem;
  border-radius: 2px;
  color: $white;
  font-size: $font-extra-small;
  text-align: center;
}

// Policy card Info Box

.Infobox {
  font-size: $font-small;
  padding: 0.3rem;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: $white;
  border-radius: 5px;
  width: 90%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  color: $dark-blue;
  box-shadow: $box-shadow;

  & > div {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-top: 1rem;
    text-align: center;
  }

  & > div > img {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem;
  }
}

.Link {
  &,
  &:active,
  &:focus {
    font-size: $font-extra-small;
    color: $light-blue;
    text-decoration: none;
    align-self: flex-end;
    margin-right: 0.5rem;
  }
}

// Selected options

.Choices {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  width: 90%;
  max-width: 40rem;
}

.Selected {
  background-color: $grey;
  width: 4.5rem;
  height: 4.5rem;
  padding: 0.3rem;
  margin: auto;
  border-radius: 2px;
  text-align: center;
  border: 2px solid $dark-blue;

  & > .Card > img {
    transform: translate(-13%, -13%);
  }
}

// Speedometer

.Speedometer {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.HalfCircle {
  width: 23rem;
  height: 9rem; /* as the half of the width */
  border-bottom: 0;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border: 1rem solid $dark-blue;
  background: $white;
}

.Bottom {
  background: $dark-blue;
  margin-top: -1px;
  height: 3rem;
  width: 25rem;
  display: flex;
  justify-content: space-between;
}

.MarginLeft {
  margin-left: 1rem;
}

.MarginRight {
  margin-right: 1rem;
}

.Needle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 60px solid $dark-blue;
  top: 43%;
  left: 50%;
  transform-origin: bottom;
  border-radius: 2rem;
}

// Result page

.ResultTitle {
  font-size: 2rem;
}
.ResultText {
  font-size: 1.5rem;
}
.ResultIcon {
  font-size: 10rem;
}
