@import "../scss-variables.scss";

.Background {
  background: linear-gradient(rgba(174, 220, 232, 1), rgba(235, 249, 253, 1));
  height: 100%;
  width: 100%;
  color: $dark-blue;
}

.Content {
  margin: 8rem 2rem;
  line-height: 2rem;
  padding: 2rem;
  p,
  li {
    font-size: $font-small;
  }
}

.AboutContent {
  margin: 8rem 3rem;
  text-align: center;
  line-height: 3rem;
  padding: 2rem;
  p,
  li {
    font-size: $font-small;
    text-align: left;
  }
}

.Title {
  font-size: $font-large;
  text-align: center;
}
.SubTitle {
  font-size: $font-medium;
}
