.UserPage {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #00247D;
}

.UserPageContent {
    margin: 2rem;
    text-align: center;
    text-justify: center;
    margin-top: 2rem;
}

.UserPageContent h3 {
    font-size: 23px;
}

.UserPageContent p {
    font-size: 15px;
}

.UserPageImg {
    width: 30%;
    height: 30%;
    align-self: center;
    margin-bottom: -40px;
    margin-top: 3em;
}
