@import '../scss-variables.scss';

.UserPage {
    display: flex;
    flex-direction: column;
    // text-align: center;
    color: $dark-blue;
}

.UserPageContent {
    margin: 2rem;
    text-align: center;
    text-justify: center;
    margin-top: 2rem;
}

.UserPageContent h3 {
    font-size: 2.2rem;
}

.UserPageContent p {
    font-size: 1.4rem;
}

.UserPageImg {
    width: 30%;
    height: 30%;
    align-self: center;
    margin-bottom: -4rem;
    margin-top: 3rem;
}
