@import "../scss-variables.scss";

.Btn {
  background: $dark-blue;
  padding: 1.2rem;
  border: none;
  color: $white;
  font-size: $font-medium;
  min-width: 30%;
  border-radius: 2rem;
  margin-top: 3rem;

  &:focus {
    outline: none;
  }
}
