.Card {
    width: 20%;
    height: 20%;
    padding: 0.3rem;
    border: 1px solid grey;
    border-radius: 50%;
    background: #fff;
    margin: 0.8rem;
}

.CardIcon {
    color: #3FC9A2;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 10px;
}