.Card {
    width: 5em;
    flex-shrink: 0;
    padding: 0.3rem;
    border-radius: 2px;
    margin: 0.8rem;
    color: white;
    text-align: center;
    scroll-snap-align: start;
}

.CardIcon {
    color: #3FC9A2;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 10px;
}