@import '../scss-variables.scss';

form {
    margin: 0 auto;
}

label {
    text-align: left;
    font-size: 1.2rem;
}

  
.textField,
.select {
    display: block;
    box-sizing: border-box;
    border: 1px solid $dark-blue;
    border-radius: 4px;
    background-color: $white;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem;
    color: $dark-blue;
  }


