@import "../scss-variables.scss";

.Background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.GameNav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 1.2rem;
  a,
  a:hover,
  a:active {
    text-decoration: none;
    color: $dark-blue;
  }
}

.SpeechBubble {
  background: $grey;
  opacity: 0.85;
  display: inline-block;
  font-size: 2rem;
  line-height: 3rem;
  margin: 6rem 1.5rem;
  padding: 0 2rem;
  position: relative;
  text-align: left;
  vertical-align: top;
  min-height: 35vh;
  width: 70vw;
}

.SpeechBubble:after {
  border: 3rem solid transparent;
  border-top-color: $grey;
  content: "";
  margin-left: -2rem;
  position: absolute;
  top: 100%;
  left: 25%;
  width: 0;
  height: 0;
}
