@import "../scss-variables.scss";

.GameNav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 1.2rem;
  a,
  a:hover,
  a:active {
    text-decoration: none;
    color: $dark-blue;
  }
}

.SpeechBubble {
  background: $grey;
  color: $dark-blue;
  display: inline-block;
  font-size: 2.2rem;
  line-height: 4rem;
  margin: 5rem 1.5rem;
  padding: 0 3rem;
  position: relative;
  text-align: left;
  vertical-align: top;
  min-height: 45vh;
}

.SpeechBubble:after {
  border: 3rem solid transparent;
  border-top-color: $grey;
  content: "";
  margin-left: -2rem;
  position: absolute;
  top: 100%;
  left: 25%;
  width: 0;
  height: 0;
}
