@import "../scss-variables.scss";

.Background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.GameNav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: $font-small;
  background-color: $dark-blue;
  a,
  a:hover,
  a:active {
    text-decoration: none;
    color: $white;
  }
}

.SpeechBubble {
  background: $grey;
  opacity: 0.85;
  display: inline-block;
  font-size: $font-large;
  line-height: 3rem;
  margin: 6rem;
  padding: 2rem;
  position: relative;
  min-height: 35vh;
  width: 70vw;
}

.SpeechBubble:after {
  border: 3rem solid transparent;
  border-top-color: $grey;
  content: "";
  margin-left: -2rem;
  position: absolute;
  top: 100%;
  left: 25%;
  width: 0;
  height: 0;
}

.Btn {
  background: $dark-blue;
  padding: 1.2rem;
  border: 1px solid #fff;
  color: $white;
  font-size: $font-medium;
  width: 10rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

// Result Page

.ResultBubble {
  background: $grey;
  opacity: 0.7;
  display: inline-block;
  font-size: $font-medium;
  line-height: 1.8rem;
  margin-top: 2rem;
  padding: 2rem;
  min-height: 35vh;
  width: 50vw;
  overflow-y:scroll;
}

.ResultImg {
  margin-top: 1rem;
  height: 20rem;
}

// .ResultBubble:after {
//   border: 3rem solid transparent;
//   border-top-color: $grey;
//   content: "";
//   margin-left: -2rem;
//   position: absolute;
//   top: 100%;
//   left: 25%;
//   width: 0;
//   height: 0;
// }
