@import "../scss-variables.scss";

.ModalWrapper {
  background: $grey;
  width: 75%;
  height: 60%;
  margin: 0 auto;
  padding: 1rem;
  position: absolute;
  top: 8%;
  left: 10%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  z-index: 5;

  span {
    font-size: $font-medium;
    color: $dark-blue;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1rem;
    align-self: flex-end;
  }
}

.ModalFlex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ModalIcon {
  width: 4rem;
}

.ModalContent {
  padding: 1rem;

  h4 {
    font-size: $font-medium;
    color: $dark-blue;
    text-align: center;
  }

  p {
    font-size: $font-medium;
    line-height: 1.7;
    margin: 0.7rem 0 1rem 0;
  }
}
