// COLOR VARIABLES
$dark-blue: #102773;
$light-blue: #4175FC;
$white: #ffffff;
$grey: #e2e2e2;
$dark-grey: #343a40;

//FONT SIZES
$font-large: 2rem;
$font-medium: 1.6rem;
$font-small: 1.3rem;
$font-extra-small: 1rem;

// GENERAL STYLES
$box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
